{% extends 'base.html.twig' %}

{% block title %}New Voitures{% endblock %}

{% block body %}

    <div id="zoneScroll" class="container createCar">
        <h1>Create new Voitures</h1>
        
        {{ include('voitures/_form.html.twig') }}

        <a href="{{ path('voitures_index') }}">back to list</a>
    </div>
    {{ encore_entry_link_tags('voiture_cud') }}

{% endblock %}
