{% extends 'base.html.twig' %}

{% block title %}
    {{voiture.marques}}  {{voiture.modelName}}
{% endblock %}

{% block body %}


	<div class="container" id="">
		{# ------------Voiture show ------------ #}

		{% include "voitures/partials/_show.html.twig" %}

	</div>
	{# ------------footer show Index------------ #}
	<footer class="site-footer pv-medium animated">
		{% include "/partials/_footer.html.twig" %}
	</footer>


    {{ encore_entry_link_tags('voitureShow') }}
	
{% endblock %}