// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap";


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.header__menu{
    background-color: black;
}
ul {
    .nav-item {
        padding-left: 50px;
        a {
            font-size: 1.6rem;
            padding: 20px;
            color: white !important;
        }
        
        .dropdown-item{
            color: black !important;
        }
    }
}

// /* STYLE GENERAL DE LA PAGE */
.container {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.container {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 25rem;
    min-height: 25rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--card-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.checkbox {
    margin-top: 26px;
}

input[type="submit"] {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    background-color: black;
    color: white;
}

.form-check{
    padding-left: 0;
}