// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap";


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


.header__menu {
    background-color: #1f1d1d;
    ul {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            padding: 20px;

            a {
                font-size: 1.6rem;
                padding: 20px;
                text-decoration: none;
                color: white;
            }
        }
    }
}





:root {
    /* marges */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    /* marges des "blocks" */
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;

}

/*  "reset" des parametres de toute la page */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

/* STYLE GENERAL DE LA PAGE */
.container {
    width: 80%;
    margin: 0 auto;
}

a {
    color: hsl(252, 30%, 10%);
}

i {
    cursor: pointer;
}

i:hover {
    opacity: 0.6;
}



.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: hsl(252, 15%, 65%);
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    // background: hsl(252, 30%, 95%);

}

.container {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 25rem;
    min-height: 25rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--card-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .form {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2.5rem;
        .inputBox {
            width: 100%;
            margin-top: 1.25rem;
            input {
                width: 90%;
                background: rgba(255, 255, 255, 0.2);
                border: none;
                outline: none;
                padding: 0.6rem 1.25rem;
                border-radius: var(--card-border-radius);
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 1rem;
                color: #1f1d1d;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.checkbox {
    margin-top: 26px;
}

.form .inputBox input::placeholder {
    color: #1f1d1d;
    font-weight: 500;
}

.form input[type="submit"] {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    background-color: black;
    color: white;
}

form a {
    text-decoration: underline;
}

form a:hover {
    opacity: 0.6;
}