/* Voiture section styling */


.voiture-content {
    display: flex;
    margin-top: 70px;

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
    }
    
}

.text {
    text-align: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding-left: 50px;
}

.imgVoitureIndex{
    width: 100%;
    height: 500px;
    background-size: cover; 
    background-position: center;
}

.specs__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.specs__item-title {
    color: #565655;
}

.specs__item-value {
    margin-top: auto;
}

.specs__item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e6e6e6;
}

.reveal{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}


